body { font: 0.85em "Ubuntu", sans-serif;}
table { width: 100%;}
p.warnings { border: 1px solid #000; padding: 0.5em;}
h1,h2 { font-weight: 400; }
td.fulfilled.yes { color: #464646;}
tr.course.unfulfilled { border: 2px solid #000; }
tr.course.in-progress { border: 2px dashed #000;}
td.name { font-weight: 500; }
* {
    page-break-inside: avoid;
}