{% extends "base.html" %}
{% block body %}
<header>
	<h1>A better academic audit interface.</h1>
</header>
<section id="login">	
	<p>Either enter your andrew ID and password (no, this is not recommended; yes, this is a proof of concept; no, I'm not stealing your password) or paste in the audit page (starting with "Carnegie Mellon Academic Audit") below.</p>
	<h3>Login</h3>
	<form class="pure-form user" method="POST" action="/audit">
		<fieldset>
			<input type="text" name="user" placeholder="Andrew ID" />
			<input type="password" name="passwd" placeholder="Password" />
			<button type="submit" class="pure-button pure-button-primary">Sign in</button>
		</fieldset>
	</form>		
	<hr />
	<h3>Paste In</h3>
	<p>Go <a href=",://enr-apps.as.cmu.edu/audit/audit">here</a>, click <strong>audit degree in major</strong>, and then just select and paste the whole page in below.</p>
	<form class="pure-form pure-form-stacked paste" method="POST" action="/audit">
		<fieldset>
			<textarea name="rawaudit" rows="12" width="100%"></textarea>
			<button type="submit" class="pure-button pure-button-primary">Go</button>
		</fieldset>
	</form>		
		
</section>	
{% endblock %}